/* 

Styles here

Reminder: u can create stylesheets for each component app

*/

/* 

vars

*/

:root {
    --white: #FFFFFF;
    --nav-black: #23242A;
    --soft-purple: #9FA8E0;
    --nav-button: #FFFFFF;
    --nav-button-active: #D197FA;
    --light-blue: #CEE7EA;
    --light-green: #CDE9D4;
    --light-red: #FF3333;
    --gray: #6F6F6F;
}



/*

Reset styles

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    background-color: #000000ee;
}

body {
    background-color: #000000;
    font-family: "Libre Franklin";
    min-height: 100vh;
    color: var(--white);
    padding-bottom: 100px;
}
