.signup, .login {
    padding-bottom: 120px;
}

.login-form, .signup-form {
    margin-top: 50px;
    padding: 0 30px;
    font-size: 2rem;
}

.form__title {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--light-green);
}

.login-form form, .signup-form form {
    padding: 30px 0;
    font-weight: 100;
}

.form__input {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.form__input input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-family: "Libre Franklin";
    color: var(--white);
    border: none;
    border-radius: 10px;
    background-color: var(--nav-black);
    font-size: 1.8rem;
}

.form__button {
    width: 100%;
    height: 38px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}