.history {
    position: relative;
    padding-bottom: 120px;
}

.sort-icon {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--light-green);
}

.history__content {
    width: 90%;
    margin-inline: auto;
}

.history .empty {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    font-size: 2.4rem;
    color: var(--light-blue);
}

.history .empty .icon {
    font-size: 8rem;
    color: var(--light-green);
}