.home {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 120px;
}

.banners-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px
}

.banner {
    width: 100%;
    height: 180px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 50px;
}

.banner p {
    width: 105px;
    font-size: 2.2em;
    font-weight: 500;
    color: black;
}

.banner-img {
    width: calc(100% - 105px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img img {
    max-width: 100%;
    max-height: 100%;

}

.banner:nth-child(2n) {
    flex-direction: row-reverse;
}

.banner:nth-child(2n) p {
    text-align: right;
}

.home__map {
    margin-top: 30px;
    font-size: 1.8rem;
}

.home__map-container {
    width: 100%;
}

.home__map-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
}

.home_link {
    display: block;
    width: max-content;
    color: unset;
    text-decoration: none;
}

.home_link h3 {
    width: max-content;
    margin-bottom: 20px;
}