.mapview {
    width: 100%;
    min-height: var(--100vh);
}

.map__container {
    position: relative;
    width: 100%;
    height: var(--100vh);
}

.map-literal-container {
    width: 100%;
    height: var(--100vh);
    position: relative;
    z-index: 0;
}

.map__header {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: grid;
    padding: 20px;
    grid-template-columns: 60px 1fr;
    gap: 10px;
}

.map__back {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: var(--white);
    border-radius: 50%;
    border: none;
    background-color: black;
}

.map__search {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    background-color: var(--nav-black);
    border-radius: 30px;
}

.map__search input {
    width: 100%;
    height: 100%;
    font-family: "Libre Franklin";
    font-size: 1.8rem;
    font-weight: 200;
    color: var(--white);
    border: none;
    outline: none;
    background-color: transparent;
}

.map__search input::placeholder {
    color: #c7c7c7;
}

.map__search button {
    width: 100%;
    height: 100%;
    font-size: 2.2rem;
    color: var(--white);
    border:none;
    outline: none;
    background-color: transparent;;
}