.mapview {
    width: 100%;
    min-height: var(--100vh);
}

.map__container {
    position: relative;
    width: 100%;
    height: var(--100vh);
}

.map-literal-container {
    width: 100%;
    height: var(--100vh);
    position: relative;
    z-index: 0;
}

.map__header {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: grid;
    padding: 20px;
    grid-template-columns: 60px 1fr;
    gap: 10px;
}

.map__back {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: var(--white);
    border-radius: 50%;
    border: none;
    background-color: black;
}

.map__search {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    background-color: var(--nav-black);
    border-radius: 30px;
}

.map__search input {
    width: 100%;
    height: 100%;
    font-family: "Libre Franklin";
    font-size: 1.8rem;
    font-weight: 200;
    color: var(--white);
    border: none;
    outline: none;
    background-color: transparent;
}

.map__search input::placeholder {
    color: #c7c7c7;
}

.map__search button {
    width: 100%;
    height: 100%;
    font-size: 2.2rem;
    color: var(--white);
    border:none;
    outline: none;
    background-color: transparent;;
}

.map__location-details-container {
    position: absolute;
    bottom: 120px;
    z-index: 1;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.map__location-details {
    height: 100%;
    width: 95%;
    max-width: 440px;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Libre Franklin";
    background-color: var(--nav-black);
    border-radius: 40px;
    animation: show 300ms ease-in-out;
}

.map__location-details.hidden {
    transform: translateY(400px);
    animation: notShow 300ms ease-in-out;
}

.map__address {
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 2rem;
    font-weight: 300;
}

.map__address-complement {
    height: 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 1.4rem;
}

.map__coord {
    font-size: 1.4rem;
    color: var(--gray);
}

.map__options {
    display: grid;
    grid-template-columns: 120px 120px;
    align-content: flex-end;
    gap: 20px;
}

.map__options .cancel {
    background-color: var(--light-blue);
}


@keyframes show {
    from {
        transform: translateY(calc(100% + 200px));
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes notShow {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(calc(400px + 200px));
    }
}