.btn {
    flex:auto;
    height: 80px;
    width: 80px;
    background-color: transparent;
    color:white;
    border: none; 
    padding: 0; 
    cursor: default;
}

input[type=text]{
    background-color: transparent;
    height: 80px;
    padding: 0 20px;
    font-size: 2.8rem;
    cursor: text;
    color: white;
    border:none
}

#cont{
    height: 80px;
    display:flex;
    width: 100%;
}

#texth{
    flex: 0 1 fit-content;
    overflow:hidden
}
#boton{
    flex: 0 1 auto
}