.btn {
    background-color: grey; 
    border: none; 
    color: white; 
    padding: 0; 
    font-size: 16px; 
    cursor: pointer; 
}

input[type=text]{
    background-color: transparent;
    border:none;
    padding-top: 5px;
    border-top: 10px;
    color:white;
    width: 250px;
    font-size: 40px;
    
}

.btn{
    width: 40px;
    height: 40px;
    
}